.background {
    background-repeat: no-repeat;
    background: url("../img/wallpaperTest.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
  }
  
  .BB {
    position: relative;
    right: 205px;
    top: 100px;
  }
  
  .text {
    position: relative;
    color: black;
    bottom: 222px;
    left: 385px;
    width: 220px;
    font-size: 26px;
    transform: matrix();
    -webkit-transform: rotate(-5deg);
  }
  