.card-container {
    backdrop-filter: blur(6px);
    height: 404.4px;
    width: 314px;
    overflow: hidden;
    transition: 0.3s;
    animation: ease-in-out;
    /* box-shadow: 0px 0px 15px 0px; */
    border-radius: 20px;
    border: 4px solid rgb(0, 0, 0);
  }
  
  .card-container:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 2px;
  }

  